---
layout: default
---

<div class="home">

<h2>Cultivate: A Co-Op Cafe</h2>

<br>901 Elm Street Youngstown</br>

<br><emph>between YSU dormitories and Wick Park</emph></br>

<br><emph>234-855-0175</emph></br>

<br><emph>Tuesday-Friday 11am-6pm   |     Saturday 10am-2pm </emph></br>
<br></br>

<p>
Cultivate is a fast-casual restaurant located in the near
north campus district just a few blocks from YSU and steps south of historic
Wick Park. The coolest thing about Cultivate is right there in its
name -- Cultivate: a co-op cafe! Cultivate is owned and managed
cooperatively -- that means the farmers and food makers who supply the products
are the actual owners of the Cafe and share jointly in its management, risks and
rewards. Employees have ownership share in it as well. So we're cultivating
growth for our members-the farmers and food makers (cheese, hot sauce, etc.),
we're cultivating a revitalization of our neighborhood, and we're cultivating
(we hope!) the desire and opportunity for students, local people, downtown folks
to support and choose healthier, locally sourced food.
</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/img/Cultivate-4.jpg">
          <img src="/assets/img/Cultivate-4.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/img/Cultivate-8.jpg">
          <img src="/assets/img/Cultivate-8.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/img/Cultivate-9.jpg">
          <img src="/assets/img/Cultivate-9.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <br class="clearfix">


</div>
